@import "box";
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed|Audiowide|Playball");


/*** VARIABELS ***/

$header-color: #2a7d58;
$header-font-color: #c2e2a7;

/*** FONTS ***/
$title-font: 'Playball', cursive;
$nav-font: 'Ubuntu', sans-serif;
$nav-font-cond: 'Ubuntu Condensed', sans-serif;
$special-font: 'Audiowide', cursive;

/*** LAYOUT ***/


.site-header{
  background: $header-color;
  .site-title{
    color: $header-font-color;
    font-family: $title-font;
    font-size: 2em;
  }
}
.site-nav{
  .page-link{
      color: $header-font-color;
      font-family: $nav-font;
      font-weight: 500;
    } 
}